.container {
    display: flex;
    height: 300px;
    width: 280px;
    flex-flow: row wrap;
    background-color: black;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

button {
    display: flex;
    flex-wrap: wrap;
    height: 45px;
    width: 65px;
    background-color: grey;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
}

.display {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 45px;
    background-color: rgb(159, 159, 159);
    justify-content: end;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    padding-right: 10px;
    font-size: large;
    font-weight: bold;
}

.first-line, .second-line, .third-line, .fourth-line, .fifth-line  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zero {
    width: 130px;
}

.backspace, .clear {
    width: 97px;   
    background-color: rgb(64, 64, 64);
}

.operator {
    background-color: orange;
}

.clear, .backspace {
    background-color: rgb(110, 165, 233);
}