.container {
    display: flex;
    height: 190px;
    width: 200px;
    flex-flow: row wrap;
    background-color: rgb(64, 61, 61);
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    flex-wrap: wrap;
    height: 25px;
    width: 45px;
    background-color: grey;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.display {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    height: 25px;
    background-color: rgb(64, 61, 61);
    justify-content: end;
    border: 1px solid black;
    border-radius: 5px;
}

.first-line, .second-line, .third-line, .fourth-line, .fifth-line  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zero {
    width: 92px;
}

.backspace, .clear {
    width: 67px;   
    background-color: rgb(64, 64, 64);
}

.operator {
    background-color: orange;
}